body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #000;
}
header
{
	box-sizing: content-box;
	width: 100%;
}
section
{
	width: 100%;
	height: 100vh;
}
section.sec1
{
	background: url(1.png);
	background-size: cover;
}
section.sec2
{
	padding: 100px;
	box-sizing: border-box;
	height: auto;
}
section.sec2 h2
{
	font-size: 3em;
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
}
section.sec2 p
{
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	color: #fff;
}
section.sec3
{
	background: url(2.jpg);
	background-size: cover;
}
nav
{
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.8);
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(255,255,255,.2);
	position: sticky;
	top: 0;
}
nav ul
{
	display: flex;
	margin: 0;
	padding: 0 100px;
	float: right;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	display: block;
	color: #fff;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
}
nav ul li a:hover,
nav ul li a.active
{
	background: #f00;
}